<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestATOProject</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowDate</display-name>
    <servlet-name>ShowDate</servlet-name>
    <servlet-class>pack.ShowDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDate</servlet-name>
    <url-pattern>/ShowDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pack.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/sift/Login</url-pattern>
    <url-pattern>/simility/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPage</display-name>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>pack.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoBean</display-name>
    <servlet-name>UserInfoBean</servlet-name>
    <servlet-class>pack.UserInfoBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoBean</servlet-name>
    <url-pattern>/UserInfoBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenNewAccount</display-name>
    <servlet-name>OpenNewAccount</servlet-name>
    <servlet-class>pack.OpenNewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenNewAccount</servlet-name>
    <url-pattern>/sift/OpenNewAccount</url-pattern>
    <url-pattern>/simility/OpenNewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Util</display-name>
    <servlet-name>Util</servlet-name>
    <servlet-class>Util.Util</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Util</servlet-name>
    <url-pattern>/Util</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonUtil</display-name>
    <servlet-name>CommonUtil</servlet-name>
    <servlet-class>pack.CommonUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonUtil</servlet-name>
    <url-pattern>/CommonUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComUtil</display-name>
    <servlet-name>ComUtil</servlet-name>
    <servlet-class>pack.ComUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComUtil</servlet-name>
    <url-pattern>/ComUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>pack.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/sift/UpdateProfile</url-pattern>
    <url-pattern>/simility/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Common</display-name>
    <servlet-name>Common</servlet-name>
    <servlet-class>pack.Common</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Common</servlet-name>
    <url-pattern>/Common</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>pack.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/sift/Transfer</url-pattern>
    <url-pattern>/simility/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferBean</display-name>
    <servlet-name>TransferBean</servlet-name>
    <servlet-class>pack.TransferBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferBean</servlet-name>
    <url-pattern>/TransferBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiftApiCall</display-name>
    <servlet-name>SiftApiCall</servlet-name>
    <servlet-class>pack.SiftApiCall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiftApiCall</servlet-name>
    <url-pattern>/SiftApiCall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Xxxxx</display-name>
    <servlet-name>Xxxxx</servlet-name>
    <servlet-class>pack.Xxxxx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xxxxx</servlet-name>
    <url-pattern>/Xxxxx</url-pattern>
  </servlet-mapping>
</web-app>